<div class="card-trip">
  <p><%#= cl_image_tag pet.photo.key, height: 200, width: 300, crop: :fill%>
    <% if @pet.photo.nil? %>
      <%=cl_image_tag("non_existing_id.png", :default_image => "my_default_image_mciyv8.jpg", height: 300, width: 400, crop: :fill) %>
    <% else %>
      <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </p>
  <div class="card-trip-infos">
    <h2><%= pet.name %></h2>
    <p><%= pet.category %>, <%= pet.age %> years old</p>
    <% if something %>
      <p>BANANA</p>
    <% end %>
  </div>
</div>
