<h1><%= @pet.name %> </h1>

<div>
<p>Species: <%= @pet.category %></p>
<p>Age: <%= @pet.age %></p>
<p>Mecial Situation:<%=@pet.medical_situation %></p>
</div>
<p><%= link_to "Book this pet", new_pet_booking_path(@pet) %> </p>
