<h1> Book this pet!</h1>
<%= simple_form_for [@pet, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit 'Book' %>
<% end %>

<%= link_to "I need to think about it", pet_path(@pet) %>
