

<div>
<h1>Hello <%= @user.first_name %></h1>
  <%= link_to "Register new pet", new_pets_path, class: "btn btn-flat" %>
</div>

<h3>Upcoming bookings</h3>
<ul>
<% @bookings.each do | booking | %>
<li> <%= Pet.find(booking.pet_id).name %>(<%= Pet.find(booking.pet_id).category %>)
From <%= booking.start_date %> to <%= booking.end_date %></li>
<% end %>
</ul>


<h3>Past bookings</h3>
