

<div>

<h1>Hello <%= @user.first_name %></h1>
  <%= link_to "Register new pet", new_pet_path, class: "btn btn-flat" %>
</div>

<h3>Your pets</h3>
<ul>
<% @pets.each do | pet | %>
<li> <%= link_to "#{pet.name}", pet_path(pet) %></li>
<% end %>
</ul>

<h3>Your bookings</h3>
<ul>
<% @bookings.each do | booking | %>
<li> <%= Pet.find(booking.pet_id).name %>(<%= Pet.find(booking.pet_id).category %>)
From <%= booking.start_date.strftime("%e %b %y") %> to <%= booking.end_date.strftime("%e %b %y") %></li>
<% end %>
</ul>


<%= link_to 'Back pet listing page', pets_path %>


<h3>Past bookings</h3>
<h3>all my pets</h3>
<div class="flex-container">
<% @pets.each do |pet| %>
  <div class="card-product">
    <p><%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %></p>
    <div class="card-product-infos">
      <h2>look at <%= pet.name %></h2>
      <p>it is a <%= pet.category %>! And you can feed it <%= pet.diet %></p>
    </div>
  </div>
<% end %>
</div>
